@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: #f9f2ed;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  user-select: none;
}

.navigation {
  margin: 30px auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  gap: 20px;
  max-width: 900px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

NavLink {
  text-decoration: none;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 20px;
  letter-spacing: 1.3px;
  outline: none;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
}

.currencies {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

li {
  display: inline-flex;
  padding: 10px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  justify-content: center;
  flex: 1;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

li:active {
  background-color: rgba(0, 0, 0, 0.05);
}

li.active {
  background-color: #333;
  color: #fff;
}

li:last-of-type {
  display: inline-flex;
  align-items: center;
  flex: 0 0 50px;
  border-right: 0;
}

svg {
  width: 16px;
  height: 16px;
}


select {
  border: none;
}

select:focus {
  border: none;
  box-shadow: none;
}




